.receipt {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    /* border: 1px solid #000; */
    font-family: Arial, sans-serif;
    font-size: 20px;
  }
    .Chillox{
        margin-left: 40px;
    }

    .address1{
        margin-left: 5px;
    }

    .address2{
        margin-left: -20px;
    }
    .address3{
        margin-left: 25px;
    }
    .phone{
        margin-left: 25px;
    }
    .paid_bill{
        margin-left: 70px;
        font-size: x-large;
    }

    .token{
        margin-left: 20px;
    }

  .grid-container {
    display: inline-grid;
    grid-template-columns:160px 0px 80px 80px;
    padding: 10px;  
}
.grid-container_1 {
    display: inline-grid;
    grid-template-columns:215px 160px;
    padding: 10px;  
}
.margin-left {
    margin-left: 40px;
  }
  .margin-left-2 {
    margin-left: 60px;
  }

  .paid{
    margin-left: 110px;
  }
  .wifi{
    margin-left: 60px;
  }

.address {
    width: 320px; /* Set a specific width or max-width */
    overflow-wrap: break-word; /* Or use word-wrap: break-word; */
  }